name: Build Latest Bazzite NVIDIA DX Image

on:
  schedule:
    - cron: "0 6 * * 1"
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and push image with BlueBuild (no signing)
        uses: blue-build/github-action@v1
        with:
          recipe: recipes/recipe.yml
          registry: ghcr.io
          namespace: BloodotakuZ
          image: bazzite-ai-hypr-cuda
          push: true
          sign: false
